.brand-story-area {
  padding: 100px 0;
  background-color: var(--cerulean);
  position: relative;
}

.brand-story-area .title {
  position: relative;
  z-index: 10;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--sun-yellow);
}

.brand-story-area .content {
  margin: 10px 20%;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: var(--sun-yellow);
}

.window {
  position: relative;
  background-image: url("../../image/window.png");
  background-size: cover;
  width: 100%;
  z-index: 10;
}
.window-story {
  padding: 40px 30px;
}

.title-story {
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  margin: 10px 0;
  color: var(--black-three);
}

.content-story {
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  margin: 5px;
  color: var(--black-three);
}

.img1 {
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 1;
}

.img2 {
  position: absolute;
  top: 35px;
  right: 170px;
  z-index: 1;
}

.img3 {
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 1;
}

.img4 {
  position: absolute;
  top: 200px;
  right: -120px;
  z-index: 1;
}
.img5 {
  position: absolute;
  top: 550px;
  right: -80px;
  z-index: 1;
  width: 18%;
}

.img6 {
  position: absolute;
  top: 400px;
  left: 0;
  z-index: 1;
  width: 10%;
}

.img7 {
  position: absolute;
  top: 400px;
  left: 100px;
  z-index: 1;
  width: 10%;
}

@media only screen and (max-width: 600px) {
  .window {
    display: none;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .window {
    display: none;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .window {
    display: none;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    display: none;
  }
  .title-story {
    font-size: 25px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    margin: 10px 0;
  }

  .content-story {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    margin: 5px;
  }

  .brand-story-area .content {
    margin: 10px 20%;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: var(--sun-yellow);
  }
}

@media only screen and (min-width: 992px) {
  .window {
    display: none;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    display: block;
  }

  .title-story {
    font-size: 25px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    margin: 10px 0;
  }

  .content-story {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    margin: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .window-mobile {
    display: none;
  }

  .window {
    display: block;
  }

  .title-story {
    font-size: 25px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    margin: 10px 0;
    color: var(--black-three);
  }

  .content-story {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    margin: 5px;
    color: var(--black-three);
  }
}
