.best-product-area {
    background-image: url("../../image/bes-bg.png");
    background-size: cover;
    width: 100%;
    color: #ffffff;
    padding: 100px 0;
}

.title {
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #f96400;
}

.content {
    margin: 10px 20%;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #f96400;
}

.product {
    margin-top: 40px;
}

.product-item {
    width: 110%;
    margin: 15px 0;
}

.img-num { position: absolute; top: -25px; width: 22%;}

.name-tag {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 5px;
    border: solid 3px #020001;
    background-color: #ffffff;
    width: 260px; 
    color: #222222;
    top: 90%;
    left: 20%;
    padding: 2%;
}

.content-tag {
    font-size: 15px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    align-self: center;
}

.icon-go {
    align-items: center;
    align-self: center;
    width: 80%;
}